@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>Edit</h1>
<hr/>
<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")
  <br>
  <input type="submit" value="Save"/>
}