@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>Edit</h1>
<hr/>
<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>
<br>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save"/>
}